<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Digital_Storehouse.Properties.Settings.StorehouseConnectionString"
            connectionString="Data Source=ARXA-PC\SQLEXPRESS;Initial Catalog=Storehouse;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>